img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contentContainer {
  width: 400px;
  height: 350px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: scale 0.3s;
  -webkit-transition: scale 0.3s;
  -moz-transition: scale 0.3s;
  -ms-transition: scale 0.3s;
  -o-transition: scale 0.3s;
}

.contentContainer:hover::before {
  scale: 1.05;
  content: "ali ata baktı";
  position: absolute;
  top: 200px;
  left: 150px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
